.search-result {
  margin-top: 45px;
  padding: 0px 60px;
  overflow: auto;
}

#lang {
  margin-right: 5px;
}

.item-card {
  display: flex;
  height: 400px;
  width: 800px;
  justify-content: flex-start;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  flex-direction: row;
  background-color: rgb(26, 26, 26);
}

.item-card:hover {
  background-image: linear-gradient(to right, blue , rgb(69, 194, 236));
  border: 1px solid rgb(69, 194, 236);
  filter: brightness(1.15) saturate(1.30); 
}

.item-title {
  padding: 15px 15px 15px 30px;
  overflow: auto;
  color: white;
  /* margin: 0px auto; */
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
}

.item-image:hover {
  
}

.search-bar-input {
  padding-left: 5px;
}
